jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
notebook==6.4.11
numpy==1.22.3
pandas==1.4.2
pytest==7.1.2
requests==2.27.1
vcrpy==4.1.1

